body{
    background-color:rgb(175, 190, 186) !important;

}
.accordian{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.accordian-section>.accordian{
    border: solid black 10px;
}
.accordian-section{
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;


}
.card{
    padding:20px;
}

thead,
tfoot {
  background-color: #a4c4d4;
  color: #fff;
}
card:hover{
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
tbody {
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 20px 20px;
}


.card:hover{
  background-color: #f0f0f0; /* Example hover background color */
  transform: scale(1.05); /* Example hover scale effect */
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.header-3,h1{
  font-weight:100;
  font-size: 2.4rem;
  padding:0.5px;
  font-weight: 200;
}
.header-4{
  font-weight:100;
  font-size: 1.4rem;
}
.row{
  padding-bottom: 10vh;
}
.title{
  font-weight:100;
  font-size: 2.4rem !important;
  padding:0.5px;
  font-weight: 200;
}
.card-header a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}
.card-header a:hover{
  color: rgb(120, 154, 154);
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}